#Evaluacion 1
##Integrantes:
* Nicolás Cortés
* Gonzalo Quinteros
* Ramiro Villar

#Parte 1

En un espectáculo de magia, un mago pide a un espectador que mezcle un conjunto de n
cartas. El espectador procede a tomar las cartas y las revuelve dentro del saco del mago,
sabiendo de antemano que almenos hay n y están enumeradas respectivamente. Con el
mago a espaldas de la mesa, coloca las cartas cara arriba en una fila. Diseñe un algoritmo
que ordene las cartas de menor a mayor de manera automática. De esta forma, una vez el
mago exponga su truco, estén ordenadas en fila. Puede realizarlo de la manera que mejor
le parezca usando los contenidos vistos en clases.

In [ ]:
print('Para este truco de magia te invitamos a indicar el número de carta que tu quieras, las veces que quieras. Para cuando no quieras ingresar más cartas apreta enter.')
cartas = [0]
while cartas[-1] != "":
  cartas.append(input("Ingrese una carta: "))
cartas.remove(0)
cartas.remove("")
cartas = list(map(int, cartas))
cartas.sort()
print('Las cartas ordenadas de forma ascendente son: ' + str(cartas))

Para este truco de magia te invitamos a indicar el número de carta que tu quieras, las veces que quieras. Para cuando no quieras ingresar más cartas apreta enter.
Ingrese una carta: 23
Ingrese una carta: 22
Ingrese una carta: 42
Ingrese una carta: 12
Ingrese una carta: 5252
Ingrese una carta:
Las cartas ordenadas de forma ascendente son: [12, 22, 23, 42, 5252]

# Parte 2

## Pregunta 1
*Cargar la base de datos y mostrar las primeras 10 filas.*

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DF/AtropellosGS2015.csv")
df.head(10)

,X,Y,Ubicacion,Fallecidos,Graves,MenosGrave,Leve,Accidentes
0,-70.798508,-33.364435,"CAMINO RENCA LAMPA & CAMINO AGUAS CLARAS, PUDA...",0,1,0,0,1
1,-70.797142,-33.354941,"CAMINO LO ECHEVERS & CAMINO PRIVADO, QUILICURA",0,1,0,0,1
2,-70.797944,-33.511716,"EL CONQUISTADOR & SENADORA MARIA DE LA CRUZ, M...",0,1,0,1,1
3,-70.797199,-33.513151,"EL CONQUISTADOR & PINTOR HORACIO GARCIA, MAIPU",0,1,0,0,1
4,-70.797021,-33.518601,"1370 EL CONQUISTADOR, MAIPU",0,1,0,0,1
5,-70.795022,-33.553664,"18486 CAMINO A MELIPILLA, MAIPU",0,0,1,0,1
6,-70.793611,-33.526045,"2621 GERMAN GARCES, MAIPU",0,0,0,2,1
7,-70.792403,-33.508712,"JOSE MANUEL BORGONO & ESCUELA DE INFANTERIA, M...",0,0,0,1,1
8,-70.791895,-33.524834,"NUEVA SAN MARTIN & 4 PONIENTE, MAIPU",0,1,0,0,1
9,-70.791389,-33.505507,"CAMINO A RINCONADA & 4 PONIENTE, MAIPU",0,0,0,1,1

## Pregunta 2
*¿Qué representa cada fila? ¿Qué representa cada columna?*

Cada fila representa una ubicación. Las columnas entregan información sobre casos de atropellos en estas ubicaciones. Columnas "X" e "Y" son las coordenadas del sitio del suceso, "Ubicación" entrega la dirección donde ocurrió el accidente, "Fallecidos", "Graves", "MenosGrave", "Leve", indican la cantidad de lesionados para cada gravedad en cada ubicación y "Accidentes" muestra la cantidad de atropellos ocurridos en el mismo lugar.

## Pregunta 3
*Realizar una descripción estadística de la base de datos. Si las variables son cuantitativas debe calcular e interpretar: Media, Mediana, Mínimo, Máximo, Primer cuartil, Tercer cuartil. Si las variables son cualitativas crear una tabla de frecuencia e interpretar*

In [ ]:
df.describe()

,X,Y,Fallecidos,Graves,MenosGrave,Leve,Accidentes,Lesionados
count,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000,1841.000000
mean,-70.642630,-33.473420,0.057577,0.295492,0.098316,0.828897,1.190114,1.222705
std,0.066754,0.067868,0.248798,0.529177,0.310334,0.768646,0.553379,0.833631
min,-70.798508,-33.631695,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,-70.691135,-33.522422,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,-70.640550,-33.454299,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,-70.586695,-33.425596,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,-70.493987,-33.325531,3.000000,4.000000,2.000000,7.000000,8.000000,11.000000

Para la descripcion estadística de la base de datos tenemos que a través de la función df.describe() logramos obtener la media, el mínimo y el máximo, el primer y el tercer cuartil y la mediana.

Vemos que la media de fallecidos es de un 0,057 por ubicación, los accidentes graves tienen una frecuencia de 0,29 por lugar en donde ocurre un accidente. Los menos graves tienen una media de 0,09 por ubicación y los que ocurren con mayor frecuencia son los leves que es de 0,82 por ubicación. Es importante notar que por ubicación vemos que la media de ocurrencia de un accidente es de 1,19, es decir, en promedio hay más de un accidente, de la misma forma que ocurre por los lesionados por lugar que corresponde a 1,22.

Viendo el valor mínimo vemos que lo mínimo por ubicación es que haya al menos 1 accidente.
Por el otro extremo, el valor máximo vemos que es que en una ubicación hubieron 4 accidentes graves, en otra 2 accidentes menos grave, el máximo en una ubicación es de 7 accidentes leves, en una ubicación hubieron 8 accidentes, es decir con más de una gravedad, y el máximo de lesionados en un lugar es de 11 personas.

El primer cuartil nos indica que el 25% menor de los datos de la base tiene al menos un accidente y al menos un lesionado.
El terecer cuartil nos indica que el 75% de los datos tiene ak menos 1 lesionado grave, 1 lesionado leve o un accidente.

En el segundo cuartil podemos observar la mediana  de los datos en donde vemos que por ello la mediana nos indica que la medida central de los datos de la base tiene 1 lesionado leve y 1 accidente.

## Pregunta 4
*Crear una columna de nombre Lesionados que tenga la totalidad de lesionados en un accidente, es decir, la suma de los accidentados "Graves", "MenosGrave" y "Leve"*

In [ ]:
n = df.shape[0]
df["Lesionados"] = 0
for i in range(n):
  df.loc[i, "Lesionados"] = df.loc[i, "Graves"] + df.loc[i, "MenosGrave"] + df.loc[i, "Leve"]
df.head(10)

,X,Y,Ubicacion,Fallecidos,Graves,MenosGrave,Leve,Accidentes,Lesionados
0,-70.798508,-33.364435,"CAMINO RENCA LAMPA & CAMINO AGUAS CLARAS, PUDA...",0,1,0,0,1,1
1,-70.797142,-33.354941,"CAMINO LO ECHEVERS & CAMINO PRIVADO, QUILICURA",0,1,0,0,1,1
2,-70.797944,-33.511716,"EL CONQUISTADOR & SENADORA MARIA DE LA CRUZ, M...",0,1,0,1,1,2
3,-70.797199,-33.513151,"EL CONQUISTADOR & PINTOR HORACIO GARCIA, MAIPU",0,1,0,0,1,1
4,-70.797021,-33.518601,"1370 EL CONQUISTADOR, MAIPU",0,1,0,0,1,1
5,-70.795022,-33.553664,"18486 CAMINO A MELIPILLA, MAIPU",0,0,1,0,1,1
6,-70.793611,-33.526045,"2621 GERMAN GARCES, MAIPU",0,0,0,2,1,2
7,-70.792403,-33.508712,"JOSE MANUEL BORGONO & ESCUELA DE INFANTERIA, M...",0,0,0,1,1,1
8,-70.791895,-33.524834,"NUEVA SAN MARTIN & 4 PONIENTE, MAIPU",0,1,0,0,1,1
9,-70.791389,-33.505507,"CAMINO A RINCONADA & 4 PONIENTE, MAIPU",0,0,0,1,1,1

## Pregunta 5

*Utilizando Python responda las siguientes preguntas ¿En qué esquina de Santiago hay más accidentados? ¿En qué comuna de santiago hay más accidentes de transito? ¿En qué esquina de Santiago hay más fallecidos?*

In [ ]:
df_lesionados = (df.sort_values("Lesionados", ascending=False))
print("La esquina de Santiago donde hay más accidentados es", df_lesionados.iloc[0,2].split(sep=", ")[0])

La esquina de Santiago donde hay más accidentados es GRECIA & CAMINO EL PRINCIPE

In [ ]:
df_accidentes = (df.sort_values("Accidentes", ascending=False))
print("La comuna de Santiago donde hay más accidentes de transito es", df_accidentes.iloc[0,2].split(sep=", ")[1])

La comuna de Santiago donde hay más accidentes de transito es PUENTE ALTO

In [ ]:
df_fallecidos = (df.sort_values("Fallecidos", ascending=False))
print("La esquina de Santiago donde hay más fallecidos es", df_fallecidos.iloc[0,2].split(sep=", ")[0])

La esquina de Santiago donde hay más fallecidos es LIBERTADOR BERNARDO O`HIGGINS & PORTUGAL